# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Aether.Physics2D.NETSTANDARD2_0.MG.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
